<% if @user %>
<h1>Howdy, <%= @user.name %></h1> 
<% end %>

<script>
$.ajax({
    type: "get",
    url: "/<%=@user.user_name%>/tweets"
  }).done(function(response){
    $(".spinner").toggle();
    $(".tweets").append("<p>" + response + "</p>")
  });
</script>

<div class="tweets">
</div>

<div class="spinner">
  <img src="ajax-loader.gif">
</div>
